body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: darkgray;
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    background-color: #007bff;
    color: white;
    padding: 1.5em 0;
}
section{
    margin: 2em auto;
    width: 80%;
}
footer{
    background-color: #222;
    color: white;
    padding: 1em 0;
}
h1{
    transition:transform 0.3s;
}
h1:hover{
    transform: scale(1.1);
    color: #ffcc00;
}




#contacto2 button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#contacto2 button:hover {
    background-color: #0056b3;
}
